name: OpenOrcaLocal
task: text_generation
model: http://localhost:8080
pretrained_tokenizer: /home/mtman/Documents/Repos/yakwith.ai/models/zephyr
token: DUMMY
timeout: null
headers:
  Content-Type: application/json
cookies: null
stream: True
stream_chunk_size: 5
params:
  stop_sequences:
  - </s>
  max_new_tokens: 2000
  temperature: 0.6
  stream: ${..stream}