version: '3.8'
services:
  mongodb:
    image: mongo:6-jammy
    container_name: yakwithai_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_INITDB_ROOT_USERNAME}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_INITDB_ROOT_PASSWORD}"
    ports:
      - '27017:27017'
    volumes:
      - type: bind
        source: "${MONGODB_ROOT_FOLDER}"
        target: /data/db
      - type: bind
        source: "${IMAGES_FOLDER}"
        target: /data/images
  text-generation:
      image: ghcr.io/huggingface/text-generation-inference:latest
      command:
        - --model-id
        - /data/Mistral-7B-OpenOrca
        - --max-input-length
        - "2000"
        - --max-total-tokens
        - "4000"
      ports:
        - "8080:80"
      volumes:
        - type: bind
          source: ${MODEL_FILE_FOLDER}
          target: /data
      deploy:
        resources:
          reservations:
            devices:
              - driver: nvidia
                capabilities: [gpu]
  ocr:
    image: hertzg/tesseract-server:latest
    ports:
      - ${OCR_PORT}:8884
    volumes:
      - type: bind
        source: "${IMAGES_FOLDER}"
        target: /data/images
